body{
    background-color: #121212;
}



.poster-container {
    position: relative;
}

.poster-img {
    position: relative;
    width: 100%;
    height: 90vh;
    object-fit: scale-down;
}

.blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(10px); /* Adjust the blur strength as needed */
    z-index: -1;
}
