body{
    background-color: #121212;
}

.carousel-control-next, .carousel-control-prev{
    filter: invert(50%);
}

.poster-container {
    position: relative;
}

.poster-img {
    height: 80vh;
    padding-top: 12vh;
}

.blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(10px); /* Adjust the blur strength as needed */
    z-index: -1;
}

.buyTicket a{
    text-decoration: none;
    color: white;
}